.contact {
  padding: 2rem 0;
  width: 85vw;
  margin: 0 auto;
}

.contactTitle {
  color: goldenrod;
  margin-bottom: 1rem;
}

.contactDescription {
  color: silver;
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.contactDetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.contactLink span {
  font-size: 1.2rem;
  color: white;
}

.contactSocial {
  color: silver;
}

@media screen and (min-width: 992px) {
  .contactWrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 2rem;
  }

  .contactDescription {
    font-size: 1.2rem;
    width: 50%;
    line-height: 2;
  }

  .contactDetails {
    width: 50%;
    gap: 1rem;
  }

  .contactLink span {
    font-size: 1.5rem;
  }

  .contactLink .contactSocial {
    font-size: 1.2rem;
  }
}
