
@media screen and (min-width: 768px) {
  .pageContainer {
    display: flex;
  }

  .container {
    width: 50vw;
  }

  .menuLink .link {
    transition: 0.3s ease;
  }
}

.hero {
  margin-top: 60px;
  display: grid;
  place-items: center;
}

.portfolioImg {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.6rem;
}

.heroInfo {
  text-align: center;
  padding: 0 1.5rem;
}

.heroTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.heroCourse {
  font-size: 1rem;
  color: wheat;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.heroBtns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 1.5rem;
}

.heroBtn {
  cursor: pointer;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  border: none;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroProjectBtn {
  color: black;
  background: #f78fb3;
}

.heroContactBtn {
  background: grey;
  color: white;
}

.heroArrow {
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 50vw;
  }
}
