.skillsSection {
  width: 85vw;
  margin: 0 auto;
  padding: 2rem 0;
  padding-top: 1rem;
}

.skillsTitle {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: goldenrod;
}

.skillsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 0;
  margin-bottom: 1rem;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem 0;
}

.skillLogo {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
  gap: 5px 0;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.htmlLogo {
  color: #ffffff;
  background: #e34f26;
}

.cssLogo {
  color: #ffffff;
  background: #1572b6;
}

.jsLogo {
  background: #f7df1e;
  color: #000000;
}

.reactLogo {
  background: #61dafb;
  color: #ffffff;
}

.nextLogo {
  background: black;
  color: white;
}

.typeLogo {
  background: #3178c6;
  color: #ffffff;
}

.gitLogo {
  background: #f05033;
  color: #333333;
}

.githubLogo {
  color: #181717;
  background: #ffffff;
}

.technicalSkillTitle {
  margin-bottom: 1rem;
}

.skillLists {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.circleContainer {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 7px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #3498db calc(var(--percentage) * 1%),
    #dfe6e9 calc(var(--percentage) * 1%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  transition: background 0.6s ease;
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.circle[data-percentage="85"] {
  --percentage: 85;
}

.circle[data-percentage="70"] {
  --percentage: 70;
}

.circle[data-percentage="90"] {
  --percentage: 90;
}

.circle[data-percentage="75"] {
  --percentage: 75;
}

.skillText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3436;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (min-width: 520px) {
  .skillsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .skillLists {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .skillsSection {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
  }

  .skillsWrapper {
    grid-template-columns: repeat(2, 150px);
    gap: 1.5rem 0;
  }

  .technicalSkills {
    width: 50%;
  }

  .skillLists {
    grid-template-columns: repeat(2, 160px);
    gap: 2rem 0.5rem;
  }

  .circleContainer {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 992px) {
  .skillsSection {
    width: 85vw;
  }

  .circleContainer {
    width: 120px;
    height: 120px;
  }
  .skillLists {
    grid-template-columns: repeat(2, 200px);
    gap: 2rem 0.5rem;
  }
}
